@import "reset.css";
@charset "utf-8";
.com_width {
  width: 1263px;
  font-size: 12px;
  margin: 0 auto;
}
.mr {
  width: 1213px;
  margin: 0px 20px 10px 30px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 10px;
  text-align: center;
  background-color: #3e3e3e;
  color: #fff;
  border: 1px;
  border-radius: 8px;
  margin-right: 3px;
}
#logo {
  width: 1263px;
  font-size: 12px;
  margin: 0 auto;
  height: 175px;
}
#logo h6 {
  width: 1263px;
  font-size: 12px;
  margin: 0 auto;
  height: 30px;
  font-size: 0px;
  background-color: #f1f1f1;
}
#logo h6 p {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
#logo h6 p select {
  display: inline;
}
#logo h6 p:first-of-type {
  float: left;
  margin-left: 40px;
}
#logo h6 p:last-of-type {
  float: right;
  margin-left: 40px;
}
#logo h6 p a {
  padding: 0px 10px;
  border-right: 1px solid #dddddd;
}
#logo h6 p a:last-of-type {
  border-right: 0px;
}
#logo .logo {
  height: 100px;
  line-height: 100px;
}
#logo .logo > img {
  float: left;
  margin-left: 30px;
}
#logo .logo h4 {
  float: left;
  width: 545px;
  height: 70px;
  margin-left: 110px;
  display: inline-block;
}
#logo .logo h4 input[type="text"] {
  width: 455px;
  height: 30px;
  border: 2px solid #b61d1d;
  vertical-align: middle;
}
#logo .logo h4 input[type="button"] {
  width: 80px;
  height: 34px;
  margin-left: -8px;
  background-color: #b61d1d;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
}
#logo .logo h4 p {
  margin-top: -20px;
  line-height: 20px;
}
#logo .logo h4 p a {
  padding-right: 5px;
}
#logo .logo h3 {
  float: right;
  width: 150px;
  height: 35px;
  line-height: 35px;
  margin-right: 85px;
  margin-top: 40px;
  display: inline-block;
  border: 1px solid #dfdfdf;
  background-color: #f9f9f9;
}
#logo .logo h3 img:first-of-type {
  margin-left: 10px;
}
#logo .logo h3 img:nth(2)-of-type {
  margin-top: -8px;
}
#logo .nav {
  width: 1263px;
  font-size: 12px;
  margin: 0 auto;
  height: 45px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  border-bottom: 2px solid #b1191a;
}
#logo .nav h5 {
  float: left;
  width: 190px;
  height: 45px;
  line-height: 45px;
  padding-left: 20px;
  margin-left: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background-color: #b1191a;
  display: inline-block;
}
#logo .nav P {
  float: left;
  height: 45px;
  line-height: 45px;
}
#logo .nav P a {
  padding: 0px 20px;
}
#logo .nav img {
  float: right;
  margin: 10px 35px 0px 0px;
}
#banner {
  width: 1263px;
  font-size: 12px;
  margin: 0 auto;
  height: 660px;
}
#banner .bntop {
  width: 1213px;
  margin: 0px 20px 10px 30px;
  height: 480px;
  display: inline-block;
}
#banner .bntop ul {
  float: left;
  width: 210px;
  background-color: #c81623;
}
#banner .bntop ul li {
  width: 188px;
  height: 29px;
  line-height: 29px;
  padding-left: 20px;
  position: relative;
  border: 1px solid #f06d77;
  background: url(../images/banner/jdr_bg.png) no-repeat right center;
}
#banner .bntop ul li a {
  color: #fff;
}
#banner .bntop ul:hover .hd {
  display: block;
}
#banner .bntop .hd {
  display: none;
  width: 500px;
  height: 470px;
  line-height: 470px;
  text-align: center;
  font-size: 80px;
  color: yellow;
  background-color: red;
  position: absolute;
  top: 0px;
  left: 210px;
  z-index: 5;
  opacity: 0.3;
}
#banner .bntop .bnpic {
  float: left;
  width: 747px;
  height: 470px;
  display: inline-block;
  position: relative;
}
#banner .bntop .bnpic img {
  margin: 15px 10px 0px 10px;
}
#banner .bntop .bnpic div {
  width: 150px;
  height: 25px;
  position: absolute;
  bottom: 20px;
  left: 305px;
}
#banner .bntop .bnpic div b {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 10px;
  text-align: center;
  background-color: #3e3e3e;
  color: #fff;
  border: 1px;
  border-radius: 8px;
  margin-right: 3px;
}
#banner .bntop .bnpic div b:hover {
  background-color: #b61b1f;
}
#banner .bntop .bnrt {
  float: left;
  width: 250px;
  height: 455px;
  margin-top: 15px;
  border: 1px solid #e4e4e4;
}
#banner .bntop .bnrt h5 {
  width: 235px;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 15px;
  border-bottom: 1px dashed #e4e4e4;
}
#banner .bntop .bnrt h5 a {
  float: right;
  font-size: 12px;
  margin-right: 15px;
}
#banner .bntop .bnrt h5:last-of-type {
  border-top: 1px dashed #e4e4e4;
}
#banner .bntop .bnrt p {
  height: 30px;
  line-height: 30px;
  margin-left: 15px;
}
#banner .bntop .bnrt p:first-of-type {
  margin-top: 10px;
}
#banner .bntop .bnrt p:last-of-type {
  margin-bottom: 10px;
}
#banner .bntop .bnrt .tab {
  width: 250px;
  height: 170px;
}
#banner .bntop .bnrt .tab ol {
  width: 250px;
  height: 30px;
  text-align: center;
}
#banner .bntop .bnrt .tab ol li {
  float: left;
  width: 60px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e8e8e7;
}
#banner .bntop .bnrt .tab ol li:hover {
  border-top-color: #c81623;
  border-bottom: 0px;
}
#banner .bntop .bnrt .tab .tab22 {
  width: 250px;
  height: 140px;
  margin-top: -7px;
  overflow: hidden;
}
#banner .bntop .bnrt .tab .tab22 #hf {
  width: 250px;
  height: 140px;
}
#banner .bntop .bnrt .tab .tab22 #hf p {
  height: 25px;
  line-height: 25px;
}
#banner .bntop .bnrt .tab .tab22 #hf p a {
  margin-right: 5px;
}
#banner .bntop .bnrt .tab .tab22 #hf p a:hover {
  background-color: #c81623;
}
#banner .bntop .bnrt .tab .tab22 #hf .tab11 {
  width: 250px;
  height: 100px;
  overflow: hidden;
}
#banner .bntop .bnrt .tab .tab22 #hf .tab11 #hfcz {
  width: 250px;
  height: 100px;
}
#banner .bntop .bnrt .tab .tab22 #hf .tab11 #hfcz p input[type="text"] {
  width: 110px;
  height: 23px;
  border: 1px solid #e8e8e7;
}
#banner .bntop .bnrt .tab .tab22 #hf .tab11 #hfcz p select {
  width: 112px;
  height: 23px;
  border: 1px solid #e8e8e7;
}
#banner .bntop .bnrt .tab .tab22 #hf .tab11 #hfcz p input[type="button"] {
  width: 67px;
  height: 26px;
  color: #fff;
  background-color: #c81623;
}
#banner .bntop .bnrt .tab .tab22 #hf .tab11 #llcz {
  width: 250px;
  height: 100px;
  background-color: yellow;
}
#banner .bntop .bnrt .tab .tab22 #jp {
  width: 250px;
  height: 140px;
  background-color: green;
}
#banner .bntop .bnrt .tab .tab22 #jp p {
  text-align: center;
  line-height: 120px;
}
#banner .bntop .bnrt .tab .tab22 #dyp {
  width: 250px;
  height: 140px;
  background-color: yellow;
}
#banner .bntop .bnrt .tab .tab22 #dyp p {
  text-align: center;
  line-height: 120px;
}
#banner .bntop .bnrt .tab .tab22 #yx {
  width: 250px;
  height: 140px;
  background-color: blue;
}
#banner .bntop .bnrt .tab .tab22 #yx p {
  text-align: center;
  line-height: 120px;
}
#banner .bntop .bnrt .tab p em {
  color: #fff;
  background-color: #c81623;
  margin-right: 5px;
}
#banner .bntop .bnrt .tab p a {
  color: #005ea7;
}
#banner .bnbot {
  width: 1213px;
  margin: 0px 20px 10px 30px;
  height: 170px;
  background-color: #eeeeee;
  display: inline-block;
}
#banner .bnbot > img {
  float: left;
  margin-right: 8px;
  margin-top: 10px;
}
#banner .bnbot dl {
  float: left;
  width: 240px;
  height: 170px;
  margin-right: 8px;
  margin-top: -5px;
  position: relative;
}
#banner .bnbot dl dt {
  clear: both;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
#banner .bnbot dl dd {
  margin-top: 15px;
  margin-left: 20px;
}
#banner .bnbot dl dd:first-of-type {
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
#banner .bnbot dl dd:nth-of-type(2) {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #ed52b8;
}
#banner .bnbot dl dd:nth-of-type(3) {
  margin-top: 8px;
  font-size: 12px;
  font-weight: bold;
  color: #7a7a7a;
}
#banner .bnbot dl dd:nth-of-type(4) {
  font-size: 12px;
  font-weight: bold;
}
#banner .bnbot dl dd:nth-of-type(4) b {
  padding: 3px 5px;
  color: #fff;
  background-color: #dc4451;
  border-radius: 0px 8px 8px 0px;
}
#banner .bnbot dl:nth-of-type(2) dd:nth-of-type(2) {
  background-color: #fd5e40;
}
#banner .bnbot dl:nth-of-type(3) dd:nth-of-type(2) {
  background-color: #e04e51;
}
#banner .bnbot dl:nth-of-type(3) dd:nth-of-type(4) b {
  background-color: #e04e51;
}
#banner .bnbot dl:nth-of-type(4) dd:nth-of-type(2) {
  background-color: #00ccdf;
}
#banner .bnbot dl:nth-of-type(4) dd:nth-of-type(4) b {
  background-color: #00ccdf;
}
#cnxh {
  width: 1263px;
  font-size: 12px;
  margin: 0 auto;
  height: 280px;
  margin-bottom: 10px;
}
#cnxh h5 {
  width: 1213px;
  margin: 0px 20px 10px 30px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}
#cnxh h5 p {
  float: left;
  margin: 10px 10px 0px 20px;
}
#cnxh h5 p img {
  display: inline-block;
  vertical-align: middel;
}
#cnxh h5 p:last-of-type {
  float: left;
  margin-left: 800px;
  display: inline-block;
}
#cnxh .xihuan {
  width: 1213px;
  margin: 0px 20px 10px 30px;
  height: 255px;
  border: 1px solid #ededed;
}
#cnxh .xihuan dl {
  float: left;
  width: 190px;
  height: 190px;
  margin-right: 10px;
  padding: 20px;
}
#cnxh .xihuan dl:first-of-type {
  margin-left: 10px;
}
#cnxh .xihuan dl dt {
  text-align: center;
}
#cnxh .xihuan dl dd {
  width: 190px;
  margin-top: 10px;
  margin-left: -10px;
  line-height: 20px;
}
#cnxh .xihuan dl dd a {
  font-size: 14px;
}
#cnxh .xihuan dl dd:first-of-type {
  padding-right: 30px;
  border-right: 1px solid #e6e6e6;
}
#cnxh .xihuan dl:last-of-type dd {
  border-right: 0px;
}
#jdtsg {
  width: 1263px;
  font-size: 12px;
  margin: 0 auto;
  height: 620px;
}
#jdtsg h5 {
  width: 1213px;
  margin: 0px 20px 10px 30px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
}
#jdtsg .jdtsg {
  width: 1213px;
  margin: 0px 20px 10px 30px;
  height: 400px;
  font-size: 0px;
}
#jdtsg .jdtsg dl {
  float: left;
  width: 204px;
  height: 199px;
  text-align: center;
  margin-top: -12px;
  font-size: 12px;
  border: 1px solid #ededed;
  border-collapse: collapse;
}
#jdtsg .jdtsg dl dt {
  text-align: center;
}
#jdtsg .jdtsg dl dd {
  margin: 5px 0px 0px -5px;
  text-align: center;
  font-size: 14px;
}
#jdtsg .jdtsg dl dd:first-of-type a {
  color: #c81623;
}
#jdtsg .jdtsg dl:first-of-type {
  background-color: #f7f7f7;
}
#jdtsg .jdtsg dl:nth-of-type(2) {
  width: 408px;
  background-color: #c3ddf8;
}
#jdtsg .jdtsg dl:nth-of-type(2) dt {
  float: right;
  margin-top: 10px;
  width: 205px;
}
#jdtsg .jdtsg dl:nth-of-type(2) dd {
  line-height: 25px;
}
#jdtsg .jdtsg dl:nth-of-type(2) dd:first-of-type {
  margin-top: 50px;
  font-size: 20px;
}
#jdtsg .jdtsg dl:nth-of-type(2) dd:first-of-type a {
  color: #000;
}
#jdtsg .jdtsg dl:nth-of-type(2) dd:nth-of-type(2) {
  font-size: 16px;
}
#jdtsg .jdtsg dl:nth-of-type(2) dd:nth-of-type(2) a {
  color: #333333;
}
#jdtsg .jdtsg dl:nth-of-type(2) dd:last-of-type a {
  color: #fff;
  background-color: #e7004d;
  padding: 5px 25px;
  font-size: 18px;
}
#jdtsg .jdtsg dl:nth-of-type(5) {
  width: 175px;
}
#jdtsg .jdtsg dl:nth-of-type(6) {
  background-color: #f7f7f7;
}
#jdtsg .jdtsg dl:nth-of-type(7) {
  background-color: #f7f7f7;
}
#jdtsg .jdtsg dl:nth-of-type(8) {
  width: 202px;
  background-color: #f7f7f7;
}
#jdtsg .jdtsg dl:nth-of-type(8) dd {
  float: left;
  width: 95px;
  height: 34px;
}
#jdtsg .jdtsg dl:last-of-type {
  width: 382px;
}
#jdtsg .jdtsg dl:last-of-type dd:nth-of-type(2) img {
  float: left;
  margin-left: 20px;
  border-right: 1px dashed #ededed;
}
#jdtsg .jdtsg dl:last-of-type dd:nth-of-type(2) p {
  float: left;
  text-align: left;
  line-height: 20px;
  margin: 20px 0px 0px 10px;
}
#jdtsg > img {
  width: 1213px;
  margin: 0px 20px 10px 30px;
  display: block;
}
