@import "reset.css";
@charset "utf-8";
.com_width {
  width: 1115px;
  font-size: 12px;
  margin: 0 auto;
  text-align: left;
}
.f {
  float: left;
}
.circle {
  width: 40px;
  height: 40px;
  border: 1px solid green;
  border-radius: 20px;
  background-color: green;
}
.h {
  font: bold 16px "微软雅黑";
  margin: 30px 0px 0px 45px;
  padding-left: 10px;
  border-left: 3px solid #8ad698;
}
.date {
  padding: 3px 10px;
  border-radius: 5px;
  background-color: #8ad698;
  color: #fff;
}
#header {
  width: 1115px;
  font-size: 12px;
  margin: 0 auto;
  text-align: left;
  height: 73px;
  background-image: url("../images/logo_bg.png");
}
#header img {
  float: left;
  margin-left: 50px;
}
#header p {
  float: right;
  margin-right: 40px;
  height: 73px;
  line-height: 73px;
}
#header p a {
  margin: 0px 28px;
  padding: 8px 5px;
  font-weight: bold;
  color: #fff;
}
#header p a:hover {
  text-decoration: none;
  border-bottom: 1px solid #818181;
}
#banner {
  width: 1115px;
  font-size: 12px;
  margin: 0 auto;
  text-align: left;
  height: 453px;
  position: relative;
}
#banner div {
  position: absolute;
  right: 90px;
  bottom: 5px;
}
#banner div span {
  width: 40px;
  height: 40px;
  border: 1px solid green;
  border-radius: 20px;
  background-color: green;
  margin-right: 20px;
}
#banner div span:hover {
  background-color: #fff;
}
#serve {
  width: 1115px;
  font-size: 12px;
  margin: 0 auto;
  text-align: left;
  height: 203px;
  background-image: url("../images/service_bg.png");
  border-bottom: 1px dotted #e0e0e0;
}
#serve h2 {
  font: bold 16px "微软雅黑";
  margin: 30px 0px 0px 45px;
  padding-left: 10px;
  border-left: 3px solid #8ad698;
  color: #000;
}
#serve dl {
  width: 315px;
  height: 120px;
  margin: 40px 0px 0px 45px;
  float: left;
}
#serve dl dt {
  width: 105px;
  height: 120px;
  margin-right: 15px;
  vertional-align: middom;
  float: left;
}
#serve dl dd {
  line-height: 20px;
  color: #666;
}
#serve dl dd:first-of-type {
  color: #000;
  font-size: 14px;
  font-weight: blod;
}
#serve dl dd:nth-of-type(2) {
  color: #049143;
  font-weight: blod;
}
#main {
  width: 1115px;
  font-size: 12px;
  margin: 0 auto;
  text-align: left;
  height: 270px;
  /*background-color:yellow;*/
}
#main .action {
  width: 600px;
  height: 270px;
  /*background-color:pink;*/
  display: inline-block;
}
#main .action p {
  font: bold 16px "微软雅黑";
  margin: 30px 0px 0px 45px;
  padding-left: 10px;
  border-left: 3px solid #8ad698;
  color: #757070;
}
#main .action p a {
  float: right;
  font-size: 12px;
  color: #757070;
}
#main .action dl {
  width: 590px;
  eight: 100px;
  margin-top: 30px;
  margin-left: 65px;
}
#main .action dl dt {
  float: left;
  width: 60px;
  height: 75px;
  margin-top: 5px;
}
#main .action dl dd {
  float: left;
  width: 450px;
  line-height: 25px;
}
#main .action dl dd span {
  padding: 3px 10px;
  border-radius: 5px;
  background-color: #8ad698;
  color: #fff;
  margin-right: 8px;
}
#main .action dl dd:first-of-type {
  color: #000;
  line-height: 30px;
}
#main .action dl:nth-of-type(2) {
  margin-top: 130px;
}
#main .about {
  width: 445px;
  height: 270px;
  float: right;
  /*background-color:green;*/
  border-left: 1px dotted #e0e0e0;
}
#main .about h2 {
  font: bold 16px "微软雅黑";
  margin: 30px 0px 0px 45px;
  padding-left: 10px;
  border-left: 3px solid #8ad698;
}
#main .about p {
  width: 305px;
  color: #666666;
  margin-left: 55px;
  margin-top: 10px;
  line-height: 25px;
}
#main .about p a {
  padding: 0px 5px;
}
#contact {
  width: 1115px;
  font-size: 12px;
  margin: 0 auto;
  text-align: left;
  height: 99px;
}
#footer {
  width: 1115px;
  font-size: 12px;
  margin: 0 auto;
  text-align: left;
  height: 70px;
  background-image: url("../images/logo_bg.png");
}
#footer p {
  float: left;
  height: 70px;
  line-height: 70px;
  margin-left: 40px;
  color: #d5d5d5;
}
#footer p a {
  padding: 0px 12px;
  color: #d5d5d5;
}
#footer p:last-of-type {
  float: right;
  margin-right: 70px;
}
