@import "reset.css";
@charset "utf-8";
.com_width {
  width: 969px;
  font-size: 12px;
  margin: 0 auto;
  text-align: left;
}
.f {
  float: left;
}
.xsj {
  width: 0px;
  height: 0px;
  display: block;
  border: 7px solid transpant;
  border-top-color: red;
}
#logo {
  width: 969px;
  font-size: 12px;
  margin: 0 auto;
  text-align: left;
  height: 112px;
  background-image: linear-gradient(to bottom, #042d55, #0480b1);
  border-bottom: 3px solid #f1d38b;
}
#logo div {
  width: 969px;
  font-size: 12px;
  margin: 0 auto;
  text-align: left;
  height: 80px;
  line-height: 80px;
}
#logo div img {
  float: left;
}
#logo div p {
  float: right;
}
#logo div p a {
  color: #fff;
  padding: 0px 10px;
  border-right: 1px solid #fff;
}
#logo div p a:last-of-type {
  border-right: 0px;
}
#logo ul {
  width: 969px;
  font-size: 12px;
  margin: 0 auto;
  text-align: left;
  height: 30px;
  margin-top: 2px;
  text-align: center;
}
#logo ul li {
  float: left;
  width: 105px;
  height: 30px;
  line-height: 30px;
  background-color: #005c95;
  margin-right: 2px;
}
#logo ul li:first-of-type {
  margin-left: 2px;
}
#logo ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
#logo ul li:hover {
  background-image: linear-gradient(to bottom, #fcf4cd, #f2d48d);
}
#logo ul li:hover a {
  color: #aa3300;
  text-decoration: none;
}
#main1 {
  width: 969px;
  font-size: 12px;
  margin: 0 auto;
  text-align: left;
  height: 715px;
  margin-top: 10px;
}
#main1 #main1left {
  float: left;
  width: 220px;
  height: 695px;
  padding: 10px;
  margin-right: 8px;
  background-color: #ddeeff;
}
#main1 #main1left h2 {
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
  line-height: 25px;
}
#main1 #main1left p {
  width: 200px;
  height: 140px;
  text-indent: 2em;
  line-height: 20px;
  padding: 5px;
  border: 3px solid #ff0000;
}
#main1 #main1left ul {
  width: 216px;
  margin-top: 10px;
}
#main1 #main1left ul > li {
  line-height: 29px;
  background-color: #005c95;
  border-bottom: 1px solid #77aacc;
}
#main1 #main1left ul > li:last-of-type {
  border-bottom: 0px;
}
#main1 #main1left ul > li:hover {
  background-color: #89da15;
}
#main1 #main1left ul > li:hover > a {
  display: block;
  height: 25px;
  line-height: 25px;
  text-decoration: none;
  color: blue;
}
#main1 #main1left ul > li:hover ol {
  display: block;
}
#main1 #main1left ul > li a {
  color: #fff;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  margin-left: 15px;
}
#main1 #main1left ul > li ol {
  display: none;
}
#main1 #main1left ul > li ol li {
  height: 25px;
  background-color: #f131c6;
}
#main1 #main1left ul > li ol li > a {
  color: #000;
  height: 25px;
  line-height: 25px;
  margin-left: 35px;
}
#main1 #main1left ul > li ol li:hover {
  background-color: yellow;
}
#main1 #main1right {
  float: left;
  width: 720px;
  height: 715px;
}
#main1 #main1right > img {
  width: 720px;
  height: 341px;
  display: block;
  border: 1px;
}
#main1 #main1right .pic {
  clear: both;
  width: 720px;
  height: 70px;
  margin-top: -10px;
}
#main1 #main1right .pic dl {
  width: 240px;
  height: 70px;
  font-size: 12px;
  background-color: #fcf4cd;
  float: left;
}
#main1 #main1right .pic dl dt {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
#main1 #main1right .pic dl dd {
  margin-left: 115px;
  margin-top: 20px;
  font-weight: bold;
  color: #aa3300;
}
#main1 #main1right .pic dl:last-of-type {
  background-image: linear-gradient(to bottom, #fcf3cc, #f1d48c);
}
#main1 #main1right .tab {
  width: 720px;
  height: 160px;
  margin-bottom: 20px;
}
#main1 #main1right .tab p {
  font-size: 12px;
  margin-top: 35px;
}
#main1 #main1right .tab p > a {
  padding: 10px 15px;
  background-color: #f5e0ae;
  border: 1px solid #f1d38b;
  color: #aa3300;
}
#main1 #main1right .tab p > a:hover {
  background-color: #fcf4cd;
  border-bottom: 0px;
  text-decoration: none;
}
#main1 #main1right .tab #tabContent {
  width: 720px;
  height: 131px;
  border: 1px;
  background-color: #fcf4cd;
  overflow: hidden;
  margin-top: 9px;
}
#main1 #main1right .tab #tabContent #sxzx {
  width: 720px;
  height: 131px;
}
#main1 #main1right .tab #tabContent #sxzx dl {
  float: left;
  width: 200px;
  height: 100px;
  margin: 10px;
  text-align: left;
}
#main1 #main1right .tab #tabContent #sxzx dl dt {
  float: left;
  width: 200px;
  margin-top: 10px;
  margin-left: 30px;
}
#main1 #main1right .tab #tabContent #sxzx dl dt h6 {
  font-weight: bold;
}
#main1 #main1right .tab #tabContent #sxzx dl dd {
  float: left;
  margin-top: 10px;
  line-height: 20px;
  width: 200px;
}
#main1 #main1right .tab #tabContent #cxhd {
  width: 720px;
  height: 131px;
}
#main1 #main1right .tab #tabContent #cxhd p {
  margin: 40px;
  text-indent: 2em;
  line-height: 25px;
}
#main1 #main1right .fotpic {
  width: 720px;
  height: 90px;
  display: inline-block;
}
#main1 #main1right .fotpic img {
  float: left;
  display: inline-block;
}
#main2 {
  width: 969px;
  font-size: 12px;
  margin: 0 auto;
  text-align: left;
  height: 160px;
  margin-top: 5px;
  background-image: linear-gradient(to bottom, #99c6e7, #e3f1ff);
}
#main2 dl {
  float: left;
  margin-right: 100px;
}
#main2 dl dt {
  color: #000;
  font-weight: bold;
}
#main2 dl dd {
  line-height: 20px;
}
#main2 dl dd a {
  color: #005c95;
  margin-left: -35px;
}
#main2 dl dd:first-of-type {
  margin-top: 10px;
}
#main2 dl dd span {
  margin-left: 25px;
}
#main2 dl dd:nth-of-type(4) span {
  margin-left: 32px;
}
#main2 dl dd:nth-of-type(5) span {
  margin-left: 20px;
}
#main2 dl:first-of-type {
  width: 190px;
  height: 120px;
  padding: 10px;
  margin: 10px 50px 0px 30px;
  background-image: linear-gradient(to bottom, #9ac1dc, #d8eafb);
  border: 1px solid #1c5781;
}
#main2 dl:first-of-type dd {
  list-style-image: url(../images/sj.png);
}
#main2 dl:nth-of-type(6) img {
  vertical-align: middom;
}
#footer {
  width: 969px;
  font-size: 12px;
  margin: 0 auto;
  text-align: left;
  height: 60px;
  line-height: 60px;
  background-color: #004e85;
  position: relative;
}
#footer h4 {
  width: 959px;
  height: 10px;
  background-color: #f1d38b;
  position: absolute;
  top: 0px;
  left: 5px;
}
#footer p {
  color: #fff;
}
#footer p:first-of-type {
  float: left;
  margin-left: 10px;
}
#footer p:last-of-type {
  float: right;
  margin-right: 10px;
}
